.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.login__container > img {
  object-fit: contain;
  height: 150px;
  margin-bottom: 2rem;
}

.MuiButton-root {
  background-color: #3abf4c !important;
  color: #fff !important;
  font-weight: bold !important;
  margin: 1rem !important;
  text-transform: inherit !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}
